body {
 font-family: Helvetica ;
 font-weight: bold ;
}

body {
 background-image: url(scroll-bg.jpg) ;
}


#log-table tr.date-row td {
 border-top: 1px solid black ;
}

#log td {
 margin: 0px ;
 border: 0px ;
 padding-left: 5px ;
 padding-right: 5px ;
 padding-top: 10px ;
 padding-bottom: 10px ;
}


#log tr:first-child td {
 border-top: 1px solid black ;
}

#log td:first-child {
 border-left: 1px solid black ;
}

#log td:last-child {
 border-right: 1px solid black ;
}

#log tr.last-child td {
 border-bottom: 1px solid black ;
}

#log tr:first-child td:first-child {
 -moz-border-radius-topleft: 8px ;
 -webkit-border-top-left-radius: 8px ;
}

#log tr:first-child td:last-child {
 -moz-border-radius-topright: 8px ;
 -webkit-border-top-right-radius: 8px ;
}

#log tr.last-child td:last-child {
 -moz-border-radius-bottomright: 8px ;
 -webkit-border-bottom-right-radius: 8px ;
}

#log tr.last-child td:first-child {
 -moz-border-radius-bottomleft: 8px ;
 -webkit-border-bottom-left-radius: 8px ; 
}



#log-table {
 margin-top: 10px ;
}

#log-table tr {
 height: 2em ;
 background-color: white ;
}

table {
 width: 100% ;
}

#log-table tr.options-row {
 display: none ;
}

#log-table tr.date-row {
 background-color: lightgray ;
}

#log-table tr.date-row td {
 text-align: center ;
 border-bottom: 1px solid black ;
}



.button {
 padding: 15px; 
 border: 1px solid black ;
 -moz-border-radius: 8px ;
 -webkit-border-radius: 8px ; 
 margin-top: 10px ;
 margin-bottom: 10px ;
 background-color: white ;
}
