<style> * { font-family:helvetica; } table { border-collapse:collapse; width:280px; } td { border:1px solid black; text-align:center; }
td.box { background:url(blackgrad.png); } td { width:26px; }
td.box { background:url(blackgrad.png); } td { width:26px; }
td { color:#999; }
td.nobox { border:none; }
td.sbox { color:black;}
td.sbox0     { background-color:#333; }
td.sbox1     { background-color:#333; }
td.sbox2     { background-color:#c33; }
td.sbox3     { background-color:#c33; }
td.sbox4     { background-color:#c33; }
td.sbox5     { background-color:#c33; }
td.sbox6     { background-color:#cc3; }
td.sbox7     { background-color:#cc3; }
td.sbox8     { background-color:#cc3; }
td.sbox9     { background-color:#3c3; }
td.sbox10    { background-color:#3c3; }
</style>
<table>
<tr>
<td class="box box0">0</td>
<td class="box box1">1</td>
<td class="box box2">2</td>
<td class="box box3">3</td>
<td class="box box4">4</td>
<td class="box box5">5</td>
<td class="box box6">6</td>
<td class="box box7 sbox sbox7">7</td>
<td class="box box8 sbox sbox8">8</td>
<td class="box box9 sbox sbox9">9</td>
<td class="box box10 sbox sbox10">10</td>
<td class=nobox>all</td>


</table>
